@model BonnyBabyStore.Models.Role

@{
    ViewData["Title"] = "Role Details";
    Layout = "_AdminLayout";
}

<div class="page-header">
    <h1 class="page-title">Role Details</h1>
</div>

<div class="details-card" style="background-color: white; padding: 30px; border-radius: 15px;">
    <h4>Details for Role: @Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Role ID
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            Role Name
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <hr />
    <div class="form-group mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-add">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>